

.searchBox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchInput {
    border-left: 1.5px  solid white;
    border-bottom: 1.5px  solid white;
    border-top:  1.5px  solid white;
    border-right:  0px ;
    border-radius:  4px 0 0 4px;
    background: white;
    outline:none;
    float:left;
    padding: 0 10px;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 32px;
    width: 300px;

}

.searchButton{
    height: 36px;
    border:1.5 px solid white;
}
@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}