
ul {
    margin: 0px;
    padding: 0px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.2rem ;
}

.row_1{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding-bottom: 1.2rem ;
}
.footer-section {
  background: #151414;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ab1322;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-top:  25px;
  margin-bottom: 10px;
  /* padding-left: 10px; */
}
.footer-logo img {
    height: 4.2rem;
    width: 4.4rem; 
}
.footer-logo .logo_wrap{
    display: flex;
}

.footer-logo .logo_wrap .tag_wrap{
    display: flex;
    flex-direction: column;
}

.footer-logo .footer_img {
    /* color:  #e8bb00; */
    color: #ab1322;
    font-size: 2.7rem;
    font-family: sans-serif;
    font-weight: 600;
}
.footer-logo .footer_tagline {
    color:  
    #e1e1e1;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 400;
}

.footer-logo a:link {
    text-decoration: none;
  }

.footer-text p {
    margin: 0 0px ;
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon{
  
    display: flex;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.footer-widget-head{
    margin-left: 50px;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ab1322;
}
.footer-widget ul li {
  display: inline-block;
  /* float: left; */
  width: 35%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ab1322;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid black;
  color: #fff;
  outline: none;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ab1322;
    padding: 13px 20px;
    border: 1px solid #ab1322;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ab1322;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ab1322;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}