.category_container{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    border-radius: 4px;
    padding: 5px 10px;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.category_container .img_wrapper{
    background-color: aliceblue;
    padding: 0.5rem;
    border-radius: 3px;
    border: 1px solid #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category_container .title_wrapper{
    font-size: 1rem;
    font-weight: 600;
}